@model KynaShop.Models.SanPham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSanPham" />
            <div class="form-group">
                <label asp-for="TenSanPham" class="control-label"></label>
                <input asp-for="TenSanPham" class="form-control" />
                <span asp-validation-for="TenSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaGoc" class="control-label"></label>
                <input asp-for="GiaGoc" class="form-control" />
                <span asp-validation-for="GiaGoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTrongKho" class="control-label"></label>
                <input asp-for="SoLuongTrongKho" class="form-control" />
                <span asp-validation-for="SoLuongTrongKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNhaSanXuat" class="control-label"></label>
                <select asp-for="MaNhaSanXuat" class="form-control" asp-items="ViewBag.MaNhaSanXuat"></select>
                <span asp-validation-for="MaNhaSanXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKhuyenMai" class="control-label"></label>
                <select asp-for="MaKhuyenMai" class="form-control" asp-items="ViewBag.MaKhuyenMai" >
                </select>
                <span asp-validation-for="MaKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThongSo" class="control-label"></label>
                <input asp-for="ThongSo" class="form-control" />
                <span asp-validation-for="ThongSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
