*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-web : 'PT Serif', serif;
}

#container {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
    .login {
    min-height: 100vh;
  }

.bg-image {
    background-image: url('https://image.thanhnien.vn/w1024/Uploaded/2022/dbeyxqxqrs/2022_12_14/000-333e9cr-5613.jpg');
    background-size: cover;
    background-position: center;
}
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://images7.alphacoders.com/114/1147139.jpg');
    background-size: cover;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  

  